@model ThomasSalon.Abstracciones.Modelos.Colaboradores.ColaboradoresDto

@{
    ViewBag.Title = "Edit";
}
<div class="container pt-5">
    <h2 class="admin-title">Editar Colaborador</h2>

    <div class="row justify-content-center">
        <div class="col-md-8">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Persona.IdPersona)
                @Html.HiddenFor(model => model.IdColaborador)
                <div class="form-horizontal border p-4 rounded shadow-sm bg-light">


                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Persona.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Persona.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Persona.Nombre, "", new { @class = "text-danger" })
                    </div>

                    <!-- Género -->
                    <div class="form-group mb-3" id="generoField">
                        @Html.LabelFor(model => model.Persona.Genero, new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.Persona.Genero, new List<SelectListItem>
                        {
                            new SelectListItem { Text = "Masculino", Value = "M" },
                            new SelectListItem { Text = "Femenino", Value = "F" }
                        }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Persona.Genero, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Persona.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Persona.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Persona.Telefono, "", new { @class = "text-danger" })
                    </div>
                    <!-- Identificación -->
                    <div class="form-group mb-3" id="identificacionField">
                        @Html.LabelFor(model => model.Identificacion, new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.Persona.Identificacion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
                    </div>
                    <!-- Dirección -->
                    <div class="form-group mb-3" id="direccionField">
                        @Html.LabelFor(model => model.Direccion, new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.Persona.Direccion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                    </div>
                    <!-- Edad -->
                    <div class="form-group mb-3" id="edadField">
                        @Html.LabelFor(model => model.Edad, new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.Persona.Edad, new { @class = "form-control", type = "number" })
                        @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })
                    </div>

                    <!-- Salario Día -->
                    <div class="form-group mb-3" id="salarioField">
                        @Html.LabelFor(model => model.SalarioDia, new { @class = "control-label col-md-2" })
                        @Html.TextBoxFor(model => model.SalarioDia, new { @class = "form-control", type = "decimal", step = "0.01" })
                        @Html.ValidationMessageFor(model => model.SalarioDia, "", new { @class = "text-danger" })
                    </div>


                    @Html.HiddenFor(model => model.IdEstado)


                    <div class="form-group text-center">

                        <input type="submit" value="Registrar proveedor" class="btn btn-stormy px-4" />
                        <a href="@Request.UrlReferrer" class="btn btn-admin px-4 ms-2">Volver a la lista</a>


                    </div>
                </div>
            }


        </div>
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

