@model ThomasSalon.Abstracciones.Modelos.InventarioSucursal.InventarioSucursalDto

@{
    ViewBag.Title = "Agregar Producto";
}
<div class="container pt-5">
    <h2 class="text-center mb-4">Agregar productos al inventario</h2>

    @if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-warning text-center">
            @ViewBag.Mensaje
        </div>
    }

    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Menor ancho para centrar mejor -->

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="border p-4 rounded shadow-sm bg-light">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger text-center mb-3" })
                    @Html.HiddenFor(m => m.IdSucursal)

                    <div class="mb-3">
                        @Html.LabelFor(model => model.IdProducto, htmlAttributes: new { @class = "form-label fw-bold" })
                        @Html.DropDownListFor(model => model.IdProducto, (IEnumerable<SelectListItem>)ViewBag.Productos, "Seleccione un producto", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdProducto, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "form-label fw-bold" })
                        @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                    </div>

                    <div class="text-center mt-4">
                        <input type="submit" value="Agregar al inventario" class="btn btn-primary px-4" />
                        <a href="@Request.UrlReferrer" class="btn btn-dark px-4 ms-2">Volver a la lista</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
