@model IEnumerable<ThomasSalon.Abstracciones.Modelos.InventarioSucursal.InventarioSucursalDto>

@{
    ViewBag.Title = "ListarInventarioSucursal";
}
<div class="container pt-5">



    <h2 class="text-center">Inventario de la sucursal</h2>

    @if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-warning">
            @ViewBag.Mensaje
        </div>
    }

    <p>

        <a href="@Url.Action("AgregarInventarioSucursal")" class="btn btn-dark btn-md">
            Agregar producto al inventario
        </a>

    </p>
    <div class="table-responsive">
        <table id="myTable" class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.IdProducto)</th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreProducto)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.NombreProveedor)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.IdEstado)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.IdProducto)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreProducto)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.NombreProveedor)
                        </td>

                        @{
                            string estado = "";
                            if (item.IdEstado == 1)
                            {
                                estado = "Activo";
                            }
                            else
                            {
                                estado = "Inactivo";
                            }

                        }
                        <td>
                            @Html.DisplayFor(modelItem => estado)
                        </td>
                        <td>


                            <a href="@Url.Action("DetallesProducto", "InventarioSucursal", new { IdInventario = item.IdInventarioSucursal })" class="btn btn-warning btn-sm">
                                Detalles del producto
                            </a>

                            <a href="@Url.Action("ActualizarInventario", "InventarioSucursal", new { id = item.IdProducto })" class="btn btn-primary btn-sm">
                                Actualizar inventario
                            </a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>
@section scripts
  {
    <script src="~/Scripts/ScriptsFront/Productos/ListaDataTableProductos.js"></script>
}

