@model IEnumerable<ThomasSalon.Abstracciones.Modelos.Pagos.PagosDto>

@{
    ViewBag.Title = "Listado de Pagos";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">

            <h2 class="admin-title">@ViewBag.Title</h2>

            <div class="row justify-content-center mb-3">
                <div class="col-md-auto">
                    <a href="@Url.Action("ListarColaboradores", "Deducciones")" class="btn btn-admin btn-sm">
                        <i class="bi bi-arrow-left-circle"></i> Volver a la lista de colaboradores
                    </a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover shadow rounded table-admin">
                    <thead class="table-dark">
                        <tr>
                            <th>Días Completos</th>
                            <th>Días Medio Tiempo</th>
                            <th>Total Comisiones</th>
                            <th>Total Deducciones</th>
                            <th>Total Gastos</th>
                            <th>Total Pago</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.DiasCompletos)</td>
                                <td>@Html.DisplayFor(modelItem => item.DiasMedioTiempos)</td>
                                <td>@Html.DisplayFor(modelItem => item.TotalComision)</td>
                                <td>@Html.DisplayFor(modelItem => item.TotalDeducciones)</td>
                                <td>@Html.DisplayFor(modelItem => item.TotalGastos)</td>
                                <td>@Html.DisplayFor(modelItem => item.TotalPago)</td>
                                <td>
                                    <form action="@Url.Action("ConfirmarPago", "Deducciones", new { idColaborador = item.IdColaborador })" method="post" id="form-@item.IdColaborador">
                                        <button type="submit" class="btn btn-highlight btn-sm" onclick="confirmarPago(event, @item.IdColaborador)">
                                            <i class="bi bi-cash-coin"></i> Finalizar Pago
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<script>
    function confirmarPago(event, idColaborador) {
        event.preventDefault();

        Swal.fire({
            icon: 'success',
            title: 'Pago Finalizado',
            text: 'El pago para el colaborador ha sido finalizado correctamente.',
            showConfirmButton: false,
            timer: 2000
        }).then(function () {
            document.getElementById('form-' + idColaborador).submit();
        });
    }
</script>
