@model IEnumerable<ThomasSalon.Abstracciones.Modelos.Deducciones.DeduccionesDto>

@{
    ViewBag.Title = "Cuentas del Trabajador";
    var idColaborador = Model.FirstOrDefault()?.IdColaborador;
}

<div class="container pt-5">
    <h2 class="admin-title">@ViewBag.Title</h2>

    @if (ViewBag.NoDeducciones != null)
    {
        <div class="alert alert-warning text-center" role="alert">
            @ViewBag.NoDeducciones
        </div>
    }

    <!-- Botones centrados -->
    <div class="row justify-content-center mb-4">
        <div class="col-md-auto">
            <a href="@Url.Action("Agregar", "Deducciones", new { idColaborador = idColaborador })" class="btn btn-highlight btn-sm me-2 mb-2">
                <i class="bi bi-plus-circle"></i> Agregar Deducción
            </a>
            <a href="@Url.Action("HistorialCuenta", "Deducciones", new { idColaborador = idColaborador })" class="btn btn-cloud btn-sm me-2 mb-2">
                <i class="bi bi-clock-history"></i> Historial de Cuenta
            </a>
            <a href="@Url.Action("ListarColaboradores", "Deducciones")" class="btn btn-admin btn-sm mb-2">
                <i class="bi bi-arrow-left-circle"></i> Volver a la lista de colaboradores
            </a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table table-bordered table-hover shadow rounded table-admin">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.nombreColaborador)</th>
                            <th>@Html.DisplayNameFor(model => model.MontoSemanal)</th>
                            <th>@Html.DisplayNameFor(model => model.TotalSaldo)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var deduccion in Model)
                        {
                            <tr>
                                <td>@deduccion.nombreColaborador</td>
                                <td>@deduccion.MontoSemanal</td>
                                <td>@deduccion.TotalSaldo</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
