@model ThomasSalon.Abstracciones.Modelos.InventarioGeneral.InventarioGeneralDto

@{
    ViewBag.Title = "Detalles del producto";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Detalles del producto</h2>

    <div class="border rounded p-4 shadow w-50 mx-auto bg-light">
        <dl class="row">
            <dt class="col-sm-5 text-end fw-bold">
                @Html.DisplayNameFor(model => model.IdProducto)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.IdProducto)
            </dd>

            <dt class="col-sm-5 text-end fw-bold">
                @Html.DisplayNameFor(model => model.NombreProducto)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.NombreProducto)
            </dd>

            <dt class="col-sm-5 text-end fw-bold">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt class="col-sm-5 text-end fw-bold">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Precio)
            </dd>

            <dt class="col-sm-5 text-end fw-bold">
                @Html.DisplayNameFor(model => model.NombreProveedor)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.NombreProveedor)
            </dd>

            <dt class="col-sm-5 text-end fw-bold">
                @Html.DisplayNameFor(model => model.UnidadMedida)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.UnidadMedida)
            </dd>

            <dt class="col-sm-5 text-end fw-bold">
                Estado
            </dt>
            <dd class="col-sm-7">
                @(Model.IdEstado == 1 ? "Activo" : "Inactivo")
            </dd>
        </dl>
    </div>

    <div class="text-center mt-4">
        <a href="@Url.Action("ListarInventarioGeneral", "InventarioGeneral")" class="btn btn-dark btn-sm">
            Volver al inventario
        </a>
    </div>
</div>
