@model ThomasSalon.Abstracciones.Modelos.InventarioGeneral.InventarioGeneralDto

@{
    ViewBag.Title = "Detalles del producto";
}

<h2>Detalles del producto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadMedida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadMedida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstado)
        </dt>

        <dd>

            @{
                string estado = "";
                if (Model.IdEstado == 1)
                {
                    estado = "Activo";
                    @Html.DisplayFor(model => estado)
                }
                else
                {
                    estado = "Inactivo";
                    @Html.DisplayFor(model => estado)
                }

            }

        </dd>





    </dl>
</div>
<p>
    <a href="@Url.Action("ListarInventarioGeneral", "InventarioGeneral") "class="btn btn-primary btn-sm"">
        Volver al inventario
    </a>
</p>