@model ThomasSalon.Abstracciones.Modelos.Citas.CitasDto

@{
    ViewBag.Title = "Detalles de la cita";
}

<h2>Detalles de la cita</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.nombrePersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombrePersona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DuracionServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DuracionServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreColaborador)
        </dt>

        <dd>
            @{
                var colaborador = "";
                if (Model.nombreColaborador == null)
                {
                    colaborador = "No especifica.";
                    @Html.DisplayFor(model => colaborador)
                }
                else
                {


                    @Html.DisplayNameFor(model => model.nombreColaborador)
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoCita)
        </dt>

        <dd>


            @{
                var estado = "";
                if (Model.IdEstadoCita == Guid.Parse("D761D2B2-0459-4BB8-AD4D-0B9B706DD6F7"))
                {
                    estado = "Agendada";
                    @Html.DisplayFor(model => estado)
                }
                else
                {

                    estado = "Cancelada";
                    @Html.DisplayFor(model => estado)
                }
            }

        </dd>

    </dl>
</div>
<p>

    <a href="@Url.Action("ListarAgendas", "Citas", new { idSucursal = TempData["IdSucursalSeleccionada"] })" class="btn btn-primary btn-sm" ">
        Volver a la agenda
    </a>

</p>


<script>

    

</script> 