@model IEnumerable<ThomasSalon.Abstracciones.Modelos.Sucursales.SucursalesDto>

@{
    ViewBag.Title = "Index";
}
<div class="container pt-5">
    <h2 class="text-center">Lista de sucursales</h2>
    <p>
        <a href="@Url.Action("Create")" class="btn btn-dark btn-md">
            Registrar sucursal
        </a>
    </p>
    <div class="table-responsive">
        <table id="myTable" class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdSucursal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkDireccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkImagen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdEstado)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdSucursal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkDireccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkImagen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreEstado)
                        </td>
                        <td>
                            
                            <a href="@Url.Action("Edit", "Sucursales", new { id = item.IdSucursal })" class="btn btn-primary btn-sm">
                                Editar
                            </a>
                            @if (item.IdEstado == 1)
                            {
                                <a href="@Url.Action("Inactivar", "Sucursales", new { id = item.IdSucursal })" class="btn btn-danger btn-sm">
                                    Inactivar
                                </a>
                            }
                            @if (item.IdEstado == 2)
                            {
                                <a href="@Url.Action("Activar", "Sucursales", new { id = item.IdSucursal })" class="btn btn-success btn-sm">
                                    Activar
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    @functions{
        public string SaberEstado(int estado)
        {
            if (estado == 2) return "Inactivo";
            if (estado == 1) return "Activo";
            return "Estado invalido";
        }
    }
    @section scripts
    {
        <script src="~/Scripts/ScriptsFront/Sucursales/ListaDataTableSucursales.js"></script>
    }
