@model IEnumerable<ThomasSalon.Abstracciones.Modelos.Sucursales.SucursalesDto>

@{
    ViewBag.Title = "Nuestras Sucursales";
}
<div class="container pt-5">

    <h2 class="text-center">Lista de sucursales</h2>

    <h2>Nuestras Sucursales</h2>

    <div class="row">
        @foreach (var sucursal in Model)
        {
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card shadow-sm w-100">
                    <img src="@sucursal.LinkImagen" class="card-img-top" alt="Imagen de @sucursal.Nombre" style="height: 200px; object-fit: cover;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@sucursal.Nombre</h5>
                        <p class="card-text flex-grow-1">
                            <strong>Teléfono:</strong> @sucursal.Telefono
                        </p>
                        <p class="card-text">
                            <strong>Dirección:</strong>
                        </p>
                        @{
                            string coordenadas = sucursal.LinkDireccion.Replace("https://www.google.com/maps?q=", "");
                        }
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBp1oeMETRS7Ygop4QgC_u-tnx1YxQL9jw&q=@coordenadas"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


    <p>
        <a href="@Url.Action("Create")" class="btn btn-dark btn-md">
            Registrar sucursal
        </a>
    </p>
    <div class="table-responsive">
        <table id="myTable" class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdSucursal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkDireccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkImagen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IdEstado)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdSucursal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkDireccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinkImagen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreEstado)
                        </td>
                        <td>
                            
                            <a href="@Url.Action("Edit", "Sucursales", new { id = item.IdSucursal })" class="btn btn-primary btn-sm">
                                Editar
                            </a>
                            @if (item.IdEstado == 1)
                            {
                                <a href="@Url.Action("Inactivar", "Sucursales", new { id = item.IdSucursal })" class="btn btn-danger btn-sm">
                                    Inactivar
                                </a>
                            }
                            @if (item.IdEstado == 2)
                            {
                                <a href="@Url.Action("Activar", "Sucursales", new { id = item.IdSucursal })" class="btn btn-success btn-sm">
                                    Activar
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/ScriptsFront/Sucursales/ListaDataTableSucursales.js"></script>
}
