@model IEnumerable<ThomasSalon.Abstracciones.Modelos.Usuarios.UsuariosDto>

@{
    ViewBag.Title = "Listar Usuarios";
}
<div class="container pt-5" style="max-width: 1300px;">

    <h2>Listar Usuarios</h2>
    <p>
        <a href="@Url.Action("RegisterAdmin", "Account")" class="btn btn-dark btn-md">
            Registrar usuario
        </a>
    </p>



    <div class="table-responsive">
        <table id="myTable" class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>


                    <th>
                        @Html.DisplayNameFor(model => model.Edad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Identificacion)
                    </th>


                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreEstado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreRol)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.Edad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Identificacion)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreEstado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreRol)
                        </td>
                        <td>

                            @if (item.NombreEstado == "Activo")
                            {
                                @Html.ActionLink("Edit", "EditAdmin", "Account", new { id = item.Id }, null)

                                <a href="@Url.Action("Inactivar", "Usuarios", new { id = item.Id })" class="btn btn-danger btn-sm">
                                    Inactivar
                                </a>
                            }
                            @if (item.NombreEstado == "Inactivo")
                            {
                                <a href="@Url.Action("Activar", "Usuarios", new { id = item.Id })" class="btn btn-success btn-sm">
                                    Activar
                                </a>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>
        @functions{
            public string SaberEstado(int estado)
            {
                if (estado == 2) return "Inactivo";
                if (estado == 1) return "Activo";
                return "Estado invalido";
            }
        }
        @section scripts
        {
            <script src="~/Scripts/ScriptsFront/Productos/ListaDataTableProductos.js"></script>
        }
