@model ThomasSalon.Abstracciones.Modelos.Productos.ProductosDto

@{
    ViewBag.Title = "Registro de productos";
}
<div class="container pt-5">
    <h2 class="admin-title">Registro de productos</h2>

    <div class="row justify-content-center">
        <div class="col-md-8">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal border p-4 rounded shadow-sm bg-light">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IdProducto)

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.LinkImagen, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.LinkImagen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LinkImagen, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01", min = "200", max = "5000000" } })
                        @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.IdProveedor, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.IdProveedor, ViewBag.Proveedores as SelectList, "Seleccione un proveedor", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdProveedor, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group mb-3">
                        @Html.LabelFor(model => model.UnidadMedida, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.UnidadMedida, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UnidadMedida, "", new { @class = "text-danger" })
                    </div>



                    <div class="form-group text-center">
                        <input type="submit" value="Registrar producto" class="btn btn-stormy" />
                        <a href="@Request.UrlReferrer" class="btn btn-admin px-4 ms-2">Volver a la lista de productos</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
