@model IEnumerable<ThomasSalon.Abstracciones.Modelos.Productos.ProductosDto>

@{
    ViewBag.Title = "Carrito de Compras";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="~/Content/css/estilo.css">

<h2>Tu Carrito</h2>

<div class="carrito">
    <div class="header-carrito">
        <h2>Productos en tu Carrito</h2>
    </div>

    <div class="carrito-items">
        @foreach (var item in Model)
        {
            <div class="carrito-item">
                <img src="@item.LinkImagen" width="80px" alt="@item.Nombre">
                <div class="carrito-item-detalles">
                    <span class="carrito-item-titulo">@item.Nombre</span>
                    <span class="carrito-item-precio">@item.Precio.ToString("C")</span>
                </div>
                @Html.ActionLink("Eliminar", "EliminarDelCarrito", "Productos", new { id = item.IdProducto }, new { @class = "btn-eliminar" })
            </div>
        }
    </div>

    <div class="carrito-total">
        <div class="fila">
            <strong>Tu Total</strong>
            <span class="carrito-precio-total">
                @Model.Sum(p => p.Precio).ToString("C")
            </span>
        </div>
        <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i></button>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Carrito/app.js"></script>
}
